.sidebarChat{
    display: flex;
    padding: 16px;
    cursor: pointer;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid #f6f6f6;
    
}
a {
    text-decoration: none !important;
    color: black;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}
.sidebarChat_info{
    margin-left: 15px;
}
.sidebarChat_info > h2{
    font-size: 16px;
}